name: run

on:
  push:
    branches: [main]
    tags:
      - 'v*'
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  test:
    name: unit-tests
    strategy:
      matrix:
        platform: [macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.platform }}

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Install Rust
      uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        toolchain: nightly-2023-07-23
    
    - name: Install cargo-nextest
      run: cargo install cargo-nextest
        
    - name: Run tests
      run: cargo nextest run
  
  smoke-test:
    name: smoke-test
    runs-on: ubuntu-22.04-github-hosted-16core
    env:
      TEST_REPO_DIR: test-repo

    steps:
    - name: Checkout code
      uses: actions/checkout@v4 
      with:
        path: ${{ env.TEST_REPO_DIR }}
        ref: ${{ github.event.pull_request.head.sha }}
    
    - name: Install Rust
      uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        toolchain: nightly-2023-07-23
    
    - name: Run smoke-test
      env:
        TEST_REPO: ${{ github.event.repository.name }}
        TEST_REPO_DIR: "../${{ env.TEST_REPO_DIR }}"
        RUST_BACKTRACE: full
      run: |
        git clone https://github.com/matter-labs/zkfoundry-smoke-test
        cd zkfoundry-smoke-test
        git fetch --all 
        git checkout 9c0572c118ed4bda5b18748fc852b24430d2e694
        git pull
        git rev-parse HEAD
        ./smoke-test.sh

  cheatcodes:
    name: cheatcode-test
    runs-on: ubuntu-22.04-github-hosted-16core
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          ref: ${{ github.event.pull_request.head.sha }}
      
      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly-2023-07-23

      - name: Test Cheatcodes
        run: cd tests &&  ./test.sh
